@page
@model CinemaWeb.Pages.Sessions.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Session</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Session.FilmId" class="control-label"></label>
                <select asp-for="Session.FilmId" class ="form-control" asp-items="ViewBag.FilmId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Session.HallId" class="control-label"></label>
                <select asp-for="Session.HallId" class ="form-control" asp-items="ViewBag.HallId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Session.Is3D" /> @Html.DisplayNameFor(model => model.Session.Is3D)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Обратно к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
