@page
@model CinemaWeb.Pages.LoginModel

        @{
        ViewData["Title"] = "Login";
        }
        
        <h1>Login</h1>
        
    <h4>CinemaUser</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" >
                <label asp-for="CinemaUser.Login" class="control-label"></label>
                <input asp-for="CinemaUser.Login" class="form-control"/>
                <span asp-validation-for="CinemaUser.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input asp-for="CinemaUser.PasswordHash" class="form-control" type="password"/>
                <span asp-validation-for="CinemaUser.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Войти"  class="btn btn-primary" />
            </div>
        </form>
            <form method="post" asp-page-handler="Guest">
                <div class="form-group">
                    <input type="submit" value="Войти как гость" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
